/*
Colors Used

Text color (dark garay): #2b2b2b;
Primary color (Purple): #357b70;
Secondary color (orange): #e0b354
*/

:root {
  --dark-grey: #2b2b2b;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background: linear-gradient(-45deg, blue, red, blue, cyan, pink, red, red);
  background-size: 400% 400%;
  width: 100%;
  height: 200vh;
  animation: animate 15s ease infinite;
}

span {
  font-weight: bold;
}

/* links  */
a {
  color: #fff;
}

a:hover {
  color: #fff;
}

a:visited {
  color: #fff;
}

/* Space between the content*/
.in-betweens {
  /* background: #fff; */
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 5px #fff solid;
  border-left: hidden;
  border-right: hidden;
}

.in-betweens h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 75px;
  font-weight: thin;
  color: #000;
  letter-spacing: 5px;
}
/* ===============  INDEX/HOME CSS  ===============*/
.page-header {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 20px;
  z-index: 99999999;
}

.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-header button {
  font-weight: bold;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.intro-title {
  font-family: 'Comfortaa', cursive;
  padding-top: 150px;
  font-size: 80px;
  margin-left: 21%;
}

.sub-intro {
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  margin-top: -55px;
  margin-left: 23%;
}

.profile {
  /* background: #fff; */
  padding-top: 30px;
  padding-bottom: 55vh;
}
/* ===============  PROJECTS CSS  ===============*/
.row {
  display: flex;
}

.column {
  flex: 50%;
}

dt {
  font-size: 22px;
}

dl {
  list-style: square;
}

.projects {
  margin-left: 17%;
  margin-right: 17%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project-background {
  background-color: #fff;
  margin-left: 4px;
  margin-right: 4px;
}

.project-img {
  max-height: 75%;
  max-width: 85%;
  border: 2px #000 solid;
  box-shadow: 5px 5px 5px gray;
}

.project-tools {
  column-count: 2;
}

.project-title {
  font-size: 35px;
}

/* Buttons under project images */
.project-buttons {
  padding-top: 12px;
}

.project-buttons button {
  color: #000;
}

.project-buttons button:hover {
  border: 2px solid #000;
}

.button-icons {
  width: 25px;
}

.btn-2 {
  margin-left: 5px;
}

/* ===============  ABOUT CSS  ===============*/
.about-content {
  margin-left: 17%;
  margin-right: 17%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.about-content dd {
  margin-top: 15px;
}

.about-img {
  margin-top: 10px;
  max-height: 75%;
  max-width: 85%;
  border: 2px #000 solid;
  box-shadow: 5px 5px 5px gray;
}

.about-mapIcon {
  max-width: 25px;
}

/* ===============  CONTACT CSS  ===============*/
.contact-content {
  margin-left: 17%;
  margin-right: 17%;
  padding-top: 55px;
  padding-bottom: 55px;
}

.contact-content img {
  max-width: 40px;
}

.content-iconName {
  font-size: 20px;
  font-weight: lighter;
  color: #000;
  padding-right: 18px;
  padding-left: 4px;
}

.contact-formInputs {
  font-size: 25px;
  padding-bottom: 15px;
  width: 70%;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}

.contact-form-btn {
  padding: 12px 17px;
  border-radius: 50px;
  font-size: 25px;
  color: #fff;
  background: #000;
}

/* ===============  FOOTER CSS  ===============*/
footer {
  text-align: center;
}

footer button {
  margin-top: 150px;
}

footer img {
  max-height: 30px;
  padding-left: 35px;
  padding-right: 35px;
}

* {
  box-sizing: border-box;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: auto;
  }

  .grid_item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .grid_item:last-child {
    grid-column: 2/2;
    grid-row: 2/2;
  }

  .grid_item {
    display: inline-block;
    width: 40%;
    text-align: center;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid_item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  h1 {
    font-size: 30px;
  }
}

/* Animation */
@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
